<!DOCTYPE html>

<link type="text/css" href="/css/style.css" rel="stylesheet">
<link type="text/css" href="/css/gallery.css" rel="stylesheet">

<%- include('header') -%>

<body>
    <main class="row">
        <div class="issue-scroll column">
            <% for (let i = 0; i < issues.length; i++) { %>
                <form method="get" action="/b3/issue/<%= `${issues[i].iid}` %>">
                    <input class="issue-entry" type="submit" value="<%= `${issues[i].title}` %>">
                </form>
            <% } %>
        </div>
        <div class="gallery colum">
            <% if (current_issue) { %>
                <% for (let i = 0; i < issues.length; i++) { %>
                    <% if (issues[i].iid == current_issue) { %>
                        <div class="gallery-main column">
                            <div class="title-row row">
                                <h1 class="title"><%= issues[i].title %></h1>
                                <form>
                                    <% if (issues[i].state == 'opened') { %>
                                        <input class="basic-button border-button" type="submit" value="Close issue">
                                    <% } else if (issues[i].state == 'closed') { %>
                                        <input class="basic-button border-button" type="submit" value="Open issue">
                                    <% } %>
                                </form>
                            </div>
                            <div class="centered-row row">
                                <% if (issues[i].state == 'opened') { %>
                                    <p class="status status-opened">Open</p>
                                <% } else if (issues[i].state == 'closed') { %>
                                    <p class="status status-closed">Closed</p>
                                <% } else { %>
                                    <p class="status status-unknown"><%= issues[i].state %></p>
                                <% } %>
                                <p class="gray">Issue created on </p>
                                <p class="gray"><%= new Date(issues[i].created_at).toDateString() %></p>
                                <p class="gray">by</p>
                                <a><p class="gray"><%= issues[i].author.name %></p></a>
                            </div>
                            <div class="gallery-item column">
                                <p class="issue-description"><%= `${issues[i].description}` %></p>
                            </div>
                            <h2 class="subtitle">Assignees</h2>
                            <div class="gallery-item column">
                                <% for (let j = 0; j < issues[i].assignees.length; j++) { %>
                                    <div class="centered-row row">
                                        <div class="user-avatar">
                                            <img src="<%= issues[i].assignees[j].avatar_url %>">
                                        </div>
                                        <p><%= issues[i].assignees[j].name %></p>
                                    </div>
                                <% } %>
                            </div>
                            <h2 class="subtitle">Epic</h2>
                            <div class="gallery-item column">
                                <% if (issues[i].epic == null) { %>
                                    <p>None</p>
                                <% } else { %>
                                    <p><% issues[i].epic %></p>
                                <% } %>
                            </div>
                            <h2 class="subtitle">Labels</h2>
                            <div class="gallery-item column">
                                <div class="wrap-row row">
                                    <% for (let j = 0; j < issues[i].labels.length; j++) { %>
                                        <p class="issue-label"><%= issues[i].labels[j] %></p>
                                    <% } %>
                                </div>
                            </div>
                            <div class="activity-column column">
                                <h2 class="subtitle">Activity</h2>
                                <% for (let j = notes.length - 1; j >= 0; j--) { %>
                                    <% if (notes[j].system == true) { %>
                                        <div class="system-note row">
                                            <div class="activity-gutter column">
                                                <p>•</p>
                                            </div>
                                            <p><b><%= notes[j].author.name %></b> <%= notes[j].body %></p>
                                            <p class="gray">• <%= new Date(notes[j].created_at).toDateString() %></p>
                                        </div>
                                    <% } else { %>
                                      <div class="user-note row">
                                          <div class="activity-gutter column">
                                              <div class="user-avatar">
                                                  <img src="<%= notes[j].author.avatar_url %>">
                                              </div>
                                          </div>
                                          <div class="rounded user-comment">
                                              <p class="user-comment-author"><b><%= notes[j].author.name %></b> @<%= notes[j].author.username %> • <%= new Date(notes[j].created_at).toDateString() %></p>
                                              <p><%= notes[j].body %></p>
                                          </div>
                                      </div>
                                    <% } %>
                                <% } %>
                            </div>
                            <form>
                                <div class="comment-form column">
                                    <textarea class="new-comment-area" placeholder="Write a comment here..."></textarea>
                                    <input class="basic-button border-button" type="submit" value="Comment">
                                </div>
                            </form>
                        </div>
                        <% break %>
                    <% } %>
                <% } %>
            <% } %>
        </div>
    </main>
</body>

<%- include('footer') -%>
<%- include('web_socket') -%>
