<!DOCTYPE html>

<link type="text/css" href="/css/style.css" rel="stylesheet">
<link type="text/css" href="/css/issues.css" rel="stylesheet">

<%- include('header') -%>

<body>
    <main class="row">
        <div class="issue-scroll column">
            <% for (let i = issues.length - 1; i >= 0; i--) { %>
                <div class="issue-entry">
                    <p><%= `${issues[i].title}` %></p>
                </div>
            <% } %>
        </div>
        <div class="gallery row">
            <% for (let i = issues.length - 1; i >= 0; i--) { %>
                <% if (issues[i].iid == current_issue) { %>
                    <div class="column">
                        <p class="title"><%= issues[i].title %></p>
                        <div class="row">
                            <p class="status"><%= issues[i].state %></p>
                            <p>Issue created on </p>
                            <p><%= new Date(issues[i].created_at).toDateString() %></p>
                            <p>by</p>
                            <a><p><%= issues[i].author.name %></p></a>
                        </div>
                        <p><%= `${issues[i].description}` %></p>
                        <div class="column">

                        </div>
                    </div>
                    <% break %>
                <% } %>
            <%} %>

        </div>
    </main>
</body>

<%- include('footer') -%>
